@font-face {
  font-family: "Pasio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}
*{
  font-family: 'Pasio';
  font-size: 5vh;
  background-size:contain;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
  touch-action: none;

}

.hex{
  margin-top: 10vh;
  margin-left: 40%;
  position: absolute;
  z-index: 1;
}

.score{
  margin-top: 15vh;
  margin-left: 40%;
  position: absolute;
  z-index: 1;
}
Canvas{
  cursor: pointer;
  touch-action: none;
}
